:root {
  --dark-pink: #FF8DC7;
  --light-pink: #FFACC7;
  --belge: #FFDDD2;
  --peach: #FFB9B9;
  --white: #F9F9F9;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 0%;
  padding: 0%;
  margin: 0%;
}

#bigContent {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}

.right {
  background-color: var(--white);
  padding: 20px;
  font-family: 'Ubuntu Condensed', sans-serif;
}

#title {
  display: flex;
  align-items: center;
  background-color: var(--dark-pink);
  margin: 0%;
  padding: 20px;
  gap: 10px;
}

#title > h1 {
  margin: 0%;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: min(40px, 10vw);
}

#title > span {
  font-size: 40px;
}

#clasification {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option, .project {
  font-size: 20px;
  background-color: white;
  padding: 10px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.option:hover, .project:hover {
  border: 2px solid var(--light-pink);
}

.first{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first>h2 {
  font-size: 30px;
  margin: 0%;
  padding: 15px 0px 15px 0px;
}

.first>i {
  font-size: 30px;
  padding: 0px 15px 0px 15px;
  cursor: pointer;
}

.first>i:hover{
  color: var(--dark-pink);
}

.option>i, .project>i {
  font-size: 20px;
  color: black;
}

.option>p, .project>p {
  margin: 0%;
}